html, body {
    height: 100%;
}

.map-container {
    margin: 0;
    height: 100%;
    position: absolute;
}

#map {
    display: block;
    width:100%;
    height:100%;
}

.icon-success {
    color: #5cb85c;
}
.icon-warning {
    color: #f0ad4e;
}
.icon-danger {
    color: #d9534f;
}
