html, body {
    height: 100%;
}

abbr[tooltip] {
    cursor: help;
    border-bottom: 1px dotted #777;
}


/* ================================================================ */
/* sidebar                                                          */
/* ================================================================ */

#sidebar {
    position: absolute;
    right: 0;
    min-height: 100%;
    width: 300px;
    background-color: #F5F5F5;
    border-left: 1px solid #CCC;
    padding: 20px;
}

.xplay-container.fullscreen #sidebar {
    width: 25px;
    padding: 5px;
}
.xplay-container.fullscreen #sidebar .hide-fullscreen {
    display: none;
}

#sidebar h3 {
    margin-top: 30px;
}
.xplay-container.fullscreen #sidebar h3{
    transform: rotate(90deg);
    transform-origin: right top;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: right top;
    -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
    -webkit-transform-origin: right top;
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    right: 3px;
    white-space: nowrap;
}
#sidebar h3 .version {
    font-size: 15px;
    color: #999;
}

#sidebar .sidebar-buttons {
    margin: -5px -5px 5px 0;
}
.xplay-container.fullscreen #sidebar .sidebar-buttons {
    margin-bottom: 10px;
}

#sidebar .hide-button,
#sidebar .settings-button {
    border: 1px solid #CCC;
    padding: 5px;
    margin: 0;
    background-color: #F5F5F5;
    cursor: pointer;
}
#sidebar .show-button {
    margin: 21px 6px 11px;
    cursor: pointer;
}
.xplay-container.fullscreen #sidebar .settings-button {
    border: none;
    padding: 0;
    margin: 6px 0 6px 7px;
}

/* ================================================================ */
/* map                                                              */
/* ================================================================ */

#map-container {
    margin: 0;
    padding-right: 300px;
    height: 100%;
    width: 100%;
    position: fixed;
}
.xplay-container.fullscreen #map-container {
    padding-right: 25px;
}
#inner-map-container {
    position: relative;
    height: 100%;
}
#map {
    display: block;
    height:100%;
}
#followAircraft {
    position: absolute;
    bottom: 15px;
    left: 15px;
}


/* ================================================================ */
/* settings                                                         */
/* ================================================================ */

.colorLabel {
    margin-left: 5px;
}
.btn.colorPicker {
    padding: 2px 4px !important;
}


/* ================================================================ */
/* icons                                                            */
/* ================================================================ */

.icon-success {
    color: #5cb85c;
}
.icon-warning {
    color: #f0ad4e;
}
.icon-danger {
    color: #d9534f;
}
