html, body {
    height: 100%;
}

abbr[tooltip] {
    cursor: help;
    border-bottom: 1px dotted #777;
}


/* ================================================================ */
/* sidebar                                                          */
/* ================================================================ */

#sidebar {
    position: absolute;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #F5F5F5;
    border-left: 1px solid #CCC;
    padding: 20px;
}

.xplay-container.fullscreen #sidebar {
    width: 25px;
    padding: 5px;
}
.xplay-container.fullscreen #sidebar .hide-fullscreen {
    display: none;
}

.xplay-container.fullscreen #sidebar h3{
    transform: rotate(90deg);
    transform-origin: right top;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: right top;
    -webkit-transform: rotate(90deg); /* Opera, Chrome, and Safari */
    -webkit-transform-origin: right top;
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    right: 3px;
    white-space: nowrap;
}

#sidebar .settings-button {
    margin: -5px 10px;
}
#sidebar .hide-button {
    margin: -5px;
}
#sidebar .hide-button, #sidebar:hover .show-button, #sidebar .settings-button {
    border: 1px solid #CCC;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
#sidebar .show-button {
    margin: 16px 0 16px;
    cursor: pointer;
}
#sidebar:hover .show-button {
    margin: 10px 10px 10px 0;
    background-color: #F5F5F5;
    float: right;
}

/* ================================================================ */
/* map                                                              */
/* ================================================================ */

#map-container {
    margin: 0;
    padding-right: 300px;
    height: 100%;
    width: 100%;
    position: absolute;
}
.xplay-container.fullscreen #map-container {
    padding-right: 25px;
}
#inner-map-container {
    position: relative;
    height: 100%;
}
#map {
    display: block;
    height:100%;
}
#followAircraft {
    position: absolute;
    bottom: 15px;
    right: 15px;
}


/* ================================================================ */
/* icons                                                            */
/* ================================================================ */

.icon-success {
    color: #5cb85c;
}
.icon-warning {
    color: #f0ad4e;
}
.icon-danger {
    color: #d9534f;
}
