<!DOCTYPE html>

<div class="modal-header">
    <h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="row">
            <div class="col-sm-6">
                <h4>Map</h4>
                <div class="form-group">
                    <input type="color" id="planeColor" class="btn btn-default colorPicker" ng-model="settings.map.marker.fillColor">
                    <label for="planeColor" class="colorLabel">Plane Color</label>
                </div>
                <div class="form-group">
                    <input type="color" id="planeBorderColor" class="btn btn-default colorPicker" ng-model="settings.map.marker.strokeColor">
                    <label for="planeBorderColor" class="colorLabel">Plane Border</label>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Sidebar</h4>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.sidebar.position"> Show Position
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.sidebar.speed"> Show Speed
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.sidebar.altitudeChart"> Show Altitude Chart
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settings.sidebar.artificialHorizon"> Show Artificial Horizon
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="resetSettings()">Default Settings</button>
    <button class="btn btn-primary" ng-click="$dismiss('close')">Close</button>
</div>
