.fill {
    top: 113px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
    width: auto;
    height: auto;
}

#map {
    display: block;
    width:100%;
    height:100%;
}