<!DOCTYPE html>

<html>
    <head>
        <title>XPlay WebUI</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/reconnecting-websocket.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/smoothie.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app>
        <div class="container-fluid" ng-controller="MainCtrl">
            <div class="row xplay-container" ng-class="{true: 'fullscreen'}[settings.fullscreen]">
                <!-- map content -->
                <div id="map-container">
                    <div id="inner-map-container">
                        <div id="map"></div>

                        <button id="followAircraft" class="btn" ng-class="{true: 'btn-success', false: 'btn-danger'}[followAircraft]" ng-click="followAircraft = !followAircraft">
                            <span class="glyphicon glyphicon-ok" ng-show="followAircraft"></span>
                            <span class="glyphicon glyphicon-remove" ng-show="!followAircraft"></span>
                            Follow Aircraft
                        </button>
                    </div>
                </div>
                <!-- sidebar -->
                <div id="sidebar">
                    <span class="button-icon glyphicon glyphicon-chevron-right pull-right" ng-show="!settings.fullscreen" ng-click="settings.fullscreen = true"></span>
                    <span class="button-icon glyphicon glyphicon-chevron-left" ng-show="settings.fullscreen" ng-click="settings.fullscreen = false"></span>
                    <h3>XPlay WebUI</h3>
                    <span class="hide-fullscreen">UDP-Status:</span> <span class="glyphicon" ng-class="udpStatusIcon" title="UDP-Status: {{udpStatus}}"></span> <span id="udpStatus" class="hide-fullscreen">{{udpStatus}}</span><br/>
                    <span class="hide-fullscreen">WebSocket-Status:</span> <span class="glyphicon" ng-class="websocketStatusIcon" title="WebSocket-Status: {{websocketStatus}}"></span> <span id="websocketStatus" class="hide-fullscreen">{{websocketStatus}}</span>
                    <div ng-show="!settings.fullscreen">
                        <div ng-if="latitude">
                            <h4>Position</h4>
                            Latitude: <span id="latitude">{{latitude}}</span><br/>
                            Longitude: <span id="longitude">{{longitude}}</span><br/>
                            Altitude: <span id="altitude">{{altitude}}</span><br/>
                            Above Ground: <span id="overGround">{{overGround}}</span>
                        </div>
                        <div ng-if="indKias">
                            <h4>Speed</h4>
                            Indicated Speed: <span id="indKias">{{indKias}}</span><br/>
                            True Ground Speed: <span id="trueKtgs">{{trueKtgs}}</span>
                        </div>
                        <div ng-show="altitude">
                            <h4>Altitude</h4>
                            <canvas id="altitudeChart" height="200" style="width: 100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
