@(udpStatus: String)

<!DOCTYPE html>

<html>
    <head>
        <title>XPlay WebUI</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/xplay.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("Chart.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app>
        <div class="container-fluid" ng-controller="MainCtrl">
            <div class="row">
                <!-- map content -->
                <div class="col-lg-10 well map-container">
                    <div id="map"></div>
                </div>
                <!-- sidebar -->
                <div class="col-lg-2 well pull-right">
                        <h3>XPlay WebUI</h3>
                        UDP-Status: <span id="udpStatus">@udpStatus</span>
                        <h4>Settings</h4>
                        Center Map on Aircraft: <input type="checkbox" ng-model="centerMapOnAircraft" />
                        <h4>Position</h4>
                        Latitude: <span id="latitude">{{latitude}}</span><br/>
                        Longitude: <span id="longitude">{{longitude}}</span><br/>
                        Altitude: <span id="altitude">{{altitude}}</span><br/>
                        Above Ground: <span id="overGround">{{overGround}}</span><br/>
                        <canvas id="myChart"></canvas>

                </div>
            </div>
        </div>
    </body>
</html>
