<!DOCTYPE html>

<html ng-app="xplay">
    <head>
        <title>XPlay WebUI</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("leaflet.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("Google.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("Marker.Rotate.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("easy-button.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("reconnecting-websocket.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("smoothie.js"))"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/artificial-horizon.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ng-app>
        <div class="container-fluid" ng-controller="MainCtrl">
            <div class="row xplay-container" ng-class="{true: 'fullscreen'}[settings.fullscreen]">
                <!-- map content -->
                <div id="map-container">
                    <div id="inner-map-container">
                        <div id="map"></div>
                    </div>
                </div>
                <!-- sidebar -->
                <div id="sidebar">
                    <div class="sidebar-buttons pull-right">
                        <span class="show-button glyphicon glyphicon-chevron-left" ng-show="settings.fullscreen" ng-click="settings.fullscreen = false"></span>
                        <span class="settings-button glyphicon glyphicon-cog" ng-click="openSettings()"></span>
                        <span class="hide-button glyphicon glyphicon-chevron-right" ng-show="!settings.fullscreen" ng-click="settings.fullscreen = true"></span>
                    </div>

                    <h3>XPlay WebUI <span class="version">@play.api.Play.current.configuration.getString("application.version")</span></h3>

                    <span class="glyphicon" ng-class="status.udp.icon" tooltip="UDP-Status: {{status.udp.status}}" tooltip-placement="left" tooltip-append-to-body="true"></span> <span class="hide-fullscreen">UDP-Status: {{status.udp.status}}</span><br/>
                    <span class="glyphicon" ng-class="status.websocket.icon" tooltip="WebSocket-Status: {{status.websocket.status}}" tooltip-placement="left" tooltip-append-to-body="true"></span> <span class="hide-fullscreen">WebSocket-Status: {{status.websocket.status}}</span>

                    <div ng-show="!settings.fullscreen">
                        <div ng-if="settings.sidebar.position">
                            <h4>Position</h4>
                            Latitude: <span id="latitude">{{data.position.latitude}}</span><br/>
                            Longitude: <span id="longitude">{{data.position.longitude}}</span><br/>
                            Altitude: <span id="altitude">{{data.position.altitude}} ft</span><br/>
                            Above Ground: <span id="overGround">{{data.position.overGround}} ft</span>
                        </div>
                        <div ng-if="settings.sidebar.speed">
                            <h4>Speed</h4>
                            <abbr tooltip="Indicated air speed">IAS</abbr>: {{data.speed.indKias}} kts<br/>
                            <abbr tooltip="True ground speed ">TGS</abbr>: {{data.speed.trueKtgs}} kts
                        </div>
                        <div ng-show="settings.sidebar.altitudeChart">
                            <h4>Altitude</h4>
                            <canvas id="altitudeChart" height="200" width="260"></canvas>
                        </div>
                        <div ng-show="settings.sidebar.artificialHorizon">
                            <h4>Artificial Horizon</h4>
                            <canvas id="artificialHorizon" height="260" width="260"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
